{% load i18n sizeformat %}

<h3>{% trans "QoS Policy Overview" %}</h3>

<div class="info detail">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ qos.name }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd>{{ qos.description|default:_("None") }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ qos.id }}</dd>
    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ qos.tenant_id|default:"-" }}</dd>
    <dt>{% trans "Policy" %}</dt>
    <dd>
        {% include "project/networks/qos/_policies.html" %}
    </dd>
  </dl>
</div>
